.contact-wrap { width:400px; padding:10px; border:1px solid #aaa; margin:0 10px 10px 0; float:left; font-family:sans-serif; color:#333; background-color:#eee; }
.contact-wrap h1 { margin:0; font-weight:normal; }
.contact-wrap h1 span { float:right; font-size:14px; line-height:24px; font-weight:normal; }
.contact-wrap img { border-width:1px; border-style:solid; border-color:#fff; border-right-color:#aaa; border-bottom-color:#aaa; margin-right:10px; float:left; }
.contact-wrap div { margin-bottom:24px; font-size:14px; }
.contact-wrap a { color:#333;}
.contact-wrap dl { margin:0; float:left; font-size:14px; }
.contact-wrap dt, .contact-container dd { margin:0; float:left; }
.contact-wrap dt { width:50px; clear:left; }